<ion-header>
    <ion-toolbar>
        <ion-title>Guide</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="closeModal()">X</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-text>
        <p>Merci d'avoir utiliser Additif finder.</p>
        <h4>Informations</h4>
        <ion-list>
            <ion-item color="danger">
                Couleur rouge -> Additif dangereux
            </ion-item>
            <ion-item color="warning">
                    Couleur orange -> Additif controversé
            </ion-item>
            <ion-item color="tertiary">
                    Couleur Bleu -> Additif à éviter
            </ion-item>
            <ion-item color="success">
                    Couleur verte -> Additif Ok
            </ion-item>
        </ion-list>

    </ion-text> 
</ion-content>